.login-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 75%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.login-title {
  color: #4a4d57;
  font-weight: 900;
  font-size: 32px;
  margin-bottom: 1.2em;
}

form {
  display: flex;
  flex-direction: column;
  gap: 30px;
  text-align: left;
}

label {
  font-size: 16px;
  font-weight: 600;
  color: #5c606f;
}

.login-container input {
  text-indent: 13px;
  padding: 13px;
  outline: none;
  border: none;
  border-radius: 6px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  color: #5c606f;
  background-color: #eeebf6;
}

.login-container .form-item {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.login-container button {
  padding: 16px;
  font-size: 16px;
  line-height: 1.5;
  border-radius: 6px;
  outline: none;
  cursor: pointer;
  border: none;
  color: #fdf2ee;
  background-color: #e7665e;
}

.error {
  color: #e7665e;
  font-size: 13px;
}

.back-icon {
  position: absolute;
  top: 5%;
  left: 5%;
}

.form-item-message {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.sub-button {
  font-size: 13px;
  text-align: right;
  color: #e7665e;
}

.error-input {
  border: 3px solid #e7665e;
}

span {
  margin-top: 0.5em;
}
